pylint
pytest
black
pandas
flask
flask_restful
google
google-cloud-bigquery
google-cloud-bigquery-storage

Flask
gunicorn
requests
dash_bootstrap_components == 1.0.2
numpy
werkzeug == 2.0.0
db_dtypes
plotly
plotly_express
dash-html-components
dash-core-components
dash-table
dash-daq
dash-renderer
Dash
pandas
